<h1>Hill Public Library</h1>

<ul>
	<% @books.each do |book| %>
	<li>Title: <%= link_to book.title, book_url(book) %><br>
		Author: <%= book.author %><br>
		Status: <% if book.status %>
			checked out
		<%else%>
			checked in
		<%end%>
		<%= button_to "Remove Book", book_url(book), method: :delete %>
	</li>
	<%end%>
</ul>

<%= link_to "New Book", new_book_url%>